 <div class="container">
  <div class="header" *ngIf="numbers">
    <span>Random Phone Number Generator</span>
  </div>
  <div class="top-row">
    <button (click)="generateRandomNumbers()">Generate</button>
    <div class="analytics">
      <span>Length: <span>{{totalPhoneNumbers}}</span></span>
      <span>Min Number: <span>{{minNum}}</span></span>
      <span>Max Number: <span>{{maxNum}}</span></span>
    </div>
  </div>
  <div id="table">
    <div id="tb-head">
      <div class="tb-wrap">
        <div class="col col-id">Id</div>
        <div class="col col-pn pn">
          <span>Phone Number</span>
          <button class="fas fa-sort-up" (click)="sortAscendingNum()"></button>
          <button class="fas fa-sort-down" (click)="sortDescendingNum()"></button>
      </div>
      </div>
    </div>
    <div class="rows-container">
      <div class="tb-row" *ngFor="let num of numbers; let i = index">
        <div class="tb-wrap">
          <div class="col col-id">{{i + 1}}</div>
          <div class="col col-pn">{{num}}</div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ primaryColour: '#FF1493', tertiaryColour: '#FF1493' }"></ngx-loading>
</div>
